# Virtual Environment
tsr_env/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Training data
data/
training/data.npy
training/target.npy
# Unused app files
streamlit_app.py

